[Unit]
Description=Capture Image Service
After=network.target

[Service]
ExecStart=/home/networking/env/bin/python /home/networking/capture_image.py
WorkingDirectory=/home/networking/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=networking

[Install]
WantedBy=multi-user.target
